@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.background-gradient{
  background: linear-gradient(358deg, rgba(3, 3, 3, 1) 0%, rgba(0, 0, 0, 1) 75%, rgba(238, 238, 130, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heading{
  background: linear-gradient(158deg, rgba(238, 238, 130, 1), rgba(238, 238, 130, 1) 50%, rgba(0, 0, 0, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-gradient{
  /* background: linear-gradient(90deg, rgba(74, 69, 69, 1) 0%, rgba(179, 173, 173, 1) 100%); */
  background: linear-gradient(300deg, rgba(3, 3, 3, 1) 0%, rgba(0, 0, 0, 1) .5%, rgba(238, 238, 130, 1) 100%);
  transition: .5s ease-in-out;
}

.button-gradient:hover{
  opacity: 0.7;
}


ul{
  list-style: none;
}
.nav-links>li{
  margin-right: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.listItem{
  transition: .5s ease-in-out;
}

.listItem:hover{
  scale: 1.1;
  box-shadow: 3px 2px 20px #B9B96E;
}


.slide-up:nth-of-type(1){
  animation: slide-up 0.5s ease-in-out;
}

.slide-up:nth-of-type(2){
  animation: slide-up 1s ease-in-out;
}

.slide-up:nth-of-type(3){
  animation: slide-up 1.4s ease-in-out;
}

.slide-up:nth-of-type(4){
  animation: slide-up 1.7s ease-in-out;
}

.slide-up:nth-of-type(5){
  animation: slide-up 1.9s ease-in-out;
}

.slide-up:nth-of-type(6){
  animation: slide-up 2s ease-in-out;
}
@keyframes slide-up {
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
  }
}
